#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.persona {
  page-break-after: always; /* Fuerza un salto de página después de cada persona */
}

#content-to-print {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

@media print {
  body {
    width: 100%;
    max-width: 1024px;
    margin: auto;
  }

  .persona {
    page-break-after: always;
  }

  /* Asegura que cada persona ocupe toda la página A4 */
  .persona-container {
    height: 100%; /* Asegura que el contenedor ocupe toda la página */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}